{% extends "bootstrap/base.html" %}
{% block title %}This is an example page{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="navbar-header">
      <a class="navbar-brand" href="{{ url_for('main.index') }}">Lab 3</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{{ url_for('user.user_index') }}">Users</a></li>
        <li><a href="{{ url_for('song.song_index') }}">Songs</a></li>
      </ul>
    </div>
  </div>
</nav>
{% endblock %}

{% block content %}
<h1>Lab 3</h1>
{% endblock %}